.navItem {
  margin: 0;
  display: flex;
}

.navItemAnchor {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-primary-400);
  font-size: var(--font-size-xs);
  display: flex;
  align-items: center;
  height: var(--size-nav-item-height);
}

.navItemAnchor:hover {
  color: var(--color-primary-500);
}

.navItemIcon svg {
  fill: var(--color-secondary-500);
}

.navItemAnchor:hover .navItemIcon svg {
  fill: var(--color-primary-600);
}

.navItem .navItemLabel {
  font-size: var(--font-size-md);
  padding-left: var(--spacing-md);
  align-self: center;
  color: var(--color-primary-400-contrast);
  margin: unset;
  letter-spacing: 1px;
}

.navItemActive {
  position: relative;
}

.navItemActive::after {
  content: '';
  width: 100%;
  height: 2px;
  display: block;
  background-color: var(--color-secondary-500);
  position: absolute;
  margin-top: calc(var(--spacing-sm) / 2);
}

@media only screen and (min-width: 1024px) {
  .navItemIcon {
    display: none;
  }

  .navItemAnchor {
    padding: var(--spacing-sm) var(--spacing-md);
  }

  .navItemLabel {
    padding-left: unset;
    font-size: var(--font-size-xs);
    color: var(--color-primary-400);
    transition: color 200ms linear;
  }

  .navItemLabel:hover {
    color: var(--color-primary-500);
  }

  .transparent .navItemLabel {
    color: var(--color-secondary-500);
    transition: color 200ms linear;
  }

  .transparent .navItemLabel:hover {
    color: var(--color-secondary-400);
  }

  .navItemActive::after {
    background-color: var(--color-primary-300);
  }

  .transparent .navItemActive::after {
    background-color: var(--color-secondary-300);
  }
}
