.typography {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-sm);
  color: var(--color-neutral-dark-800);

  em {
    color: var(--color-primary-500);
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    font-style: normal;
  }
}

.displayXXL {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-black);
}

.displayXL {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-black);
}

.displayLG {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-black);
}

.displayMD {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-black);
}

.displaySM {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-black);
}

.displayXS {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-black);
}

.subtitle {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
}

.bodyLG {
  font-size: var(--font-size-lg);
  line-height: calc(1.75 * var(--font-size-lg));
  font-weight: var(--font-weight-regular);
}

.bodyMD {
  font-size: var(--font-size-md);
  line-height: calc(1.75 * var(--font-size-md));
  font-weight: var(--font-weight-regular);
}

.bodySM {
  font-size: var(--font-size-sm);
  line-height: calc(1.75 * var(--font-size-sm));
  font-weight: var(--font-weight-regular);
}

.bodyXS {
  font-size: var(--font-size-xs);
  line-height: calc(1.75 * var(--font-size-xs));
  font-weight: var(--font-weight-regular);
}

.bodyXXS {
  font-size: var(--font-size-xxs);
  line-height: calc(1.75 * var(--font-size-xxs));
  font-weight: var(--font-weight-regular);
}
