.card {
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-neutral-light-100);
  border-radius: var(--border-radius-sm);
  padding: var(--spacing-lg) var(--spacing-xl) var(--spacing-md) var(--spacing-md);
  transition: all .2s;
  box-shadow: var(--shadow-1);
}
