@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --color-primary-100: #0CEBFF;
  --color-primary-200: #00E3F8;
  --color-primary-300: #00D2E5;
  --color-primary-400: #00C0D2;
  --color-primary-500: #00AFBF;
  --color-primary-600: #009EAC;
  --color-primary-700: #008C99;
  --color-primary-800: #007A86;
  --color-primary-900: #006973;
  --color-primary-100-contrast: #101010;
  --color-primary-200-contrast: #101010;
  --color-primary-300-contrast: #101010;
  --color-primary-400-contrast: #101010;
  --color-primary-500-contrast: #f0f0f0;
  --color-primary-600-contrast: #f0f0f0;
  --color-primary-700-contrast: #f0f0f0;
  --color-primary-800-contrast: #f0f0f0;
  --color-primary-900-contrast: #f0f0f0;
  --color-primary-100-opacity: rgba(12,235,255,0.2);
  --color-primary-200-opacity: rgba(0,227,248,0.2);
  --color-primary-300-opacity: rgba(0,210,229,0.2);
  --color-primary-400-opacity: rgba(0,192,210,0.2);
  --color-primary-500-opacity: rgba(0,175,191,0.2);
  --color-primary-600-opacity: rgba(0,158,172,0.2);
  --color-primary-700-opacity: rgba(0,140,153,0.2);
  --color-primary-800-opacity: rgba(0,122,134,0.2);
  --color-primary-900-opacity: rgba(0,105,115,0.2);

  --color-secondary-100: #FF8A0C;
  --color-secondary-200: #F88100;
  --color-secondary-300: #E57700;
  --color-secondary-400: #D26D00;
  --color-secondary-500: #BF6300;
  --color-secondary-600: #AC5900;
  --color-secondary-700: #994F00;
  --color-secondary-800: #864500;
  --color-secondary-900: #733B00;
  --color-secondary-100-contrast: #101010;
  --color-secondary-200-contrast: #101010;
  --color-secondary-300-contrast: #101010;
  --color-secondary-400-contrast: #f0f0f0;
  --color-secondary-500-contrast: #f0f0f0;
  --color-secondary-600-contrast: #f0f0f0;
  --color-secondary-700-contrast: #f0f0f0;
  --color-secondary-800-contrast: #f0f0f0;
  --color-secondary-900-contrast: #f0f0f0;
  --color-secondary-100-opacity: rgba(255,138,12,0.2);
  --color-secondary-200-opacity: rgba(248,129,0,0.2);
  --color-secondary-300-opacity: rgba(229,119,0,0.2);
  --color-secondary-400-opacity: rgba(210,109,0,0.2);
  --color-secondary-500-opacity: rgba(191,99,0,0.2);
  --color-secondary-600-opacity: rgba(172,89,0,0.2);
  --color-secondary-700-opacity: rgba(153,79,0,0.2);
  --color-secondary-800-opacity: rgba(134,69,0,0.2);
  --color-secondary-900-opacity: rgba(115,59,0,0.2);

  --color-secondary-100-contrast: #101010;
  --color-secondary-200-contrast: #101010;
  --color-secondary-300-contrast: #101010;
  --color-secondary-400-contrast: #101010;
  --color-secondary-500-contrast: #f0f0f0;
  --color-secondary-600-contrast: #f0f0f0;
  --color-secondary-700-contrast: #f0f0f0;
  --color-secondary-800-contrast: #f0f0f0;
  --color-secondary-900-contrast: #f0f0f0;

  --color-secondary-100-opacity: rgba(227,232,173,0.2);
  --color-secondary-200-opacity: rgba(219,225,150,0.2);
  --color-secondary-300-opacity: rgba(211,219,128,0.2);
  --color-secondary-400-opacity: rgba(204,212,105,0.2);
  --color-secondary-500-opacity: rgba(196,206,83,0.2);
  --color-secondary-600-opacity: rgba(188,200,61,0.2);
  --color-secondary-700-opacity: rgba(169,180,51,0.2);
  --color-secondary-800-opacity: rgba(148,157,45,0.2);
  --color-secondary-900-opacity: rgba(127,135,38,0.2);

  --color-neutral-dark-100: #5F5F5F;
  --color-neutral-dark-200: #585858;
  --color-neutral-dark-300: #525252;
  --color-neutral-dark-400: #4B4B4B;
  --color-neutral-dark-500: #444444;
  --color-neutral-dark-600: #3D3D3D;
  --color-neutral-dark-700: #363636;
  --color-neutral-dark-800: #303030;
  --color-neutral-dark-900: #292929;
  --color-neutral-dark-100-contrast: #f0f0f0;
  --color-neutral-dark-200-contrast: #f0f0f0;
  --color-neutral-dark-300-contrast: #f0f0f0;
  --color-neutral-dark-400-contrast: #f0f0f0;
  --color-neutral-dark-500-contrast: #f0f0f0;
  --color-neutral-dark-600-contrast: #f0f0f0;
  --color-neutral-dark-700-contrast: #f0f0f0;
  --color-neutral-dark-800-contrast: #f0f0f0;
  --color-neutral-dark-900-contrast: #f0f0f0;
  --color-neutral-dark-100-opacity: rgba(95,95,95,0.2);
  --color-neutral-dark-200-opacity: rgba(88,88,88,0.2);
  --color-neutral-dark-300-opacity: rgba(82,82,82,0.2);
  --color-neutral-dark-400-opacity: rgba(75,75,75,0.2);
  --color-neutral-dark-500-opacity: rgba(68,68,68,0.2);
  --color-neutral-dark-600-opacity: rgba(61,61,61,0.2);
  --color-neutral-dark-700-opacity: rgba(54,54,54,0.2);
  --color-neutral-dark-800-opacity: rgba(48,48,48,0.2);
  --color-neutral-dark-900-opacity: rgba(41,41,41,0.2);

  --color-neutral-light-100: #F1F1F1;
  --color-neutral-light-200: #E0E0E0;
  --color-neutral-light-300: #CECECE;
  --color-neutral-light-400: #BDBDBD;
  --color-neutral-light-500: #ACACAC;
  --color-neutral-light-600: #9B9B9B;
  --color-neutral-light-700: #8A8A8A;
  --color-neutral-light-800: #787878;
  --color-neutral-light-900: #676767;
  --color-neutral-light-100-contrast: #101010;
  --color-neutral-light-200-contrast: #101010;
  --color-neutral-light-300-contrast: #101010;
  --color-neutral-light-400-contrast: #101010;
  --color-neutral-light-500-contrast: #101010;
  --color-neutral-light-600-contrast: #101010;
  --color-neutral-light-700-contrast: #101010;
  --color-neutral-light-800-contrast: #101010;
  --color-neutral-light-900-contrast: #f0f0f0;
  --color-neutral-light-100-opacity: rgba(241,241,241,0.2);
  --color-neutral-light-200-opacity: rgba(224,224,224,0.2);
  --color-neutral-light-300-opacity: rgba(206,206,206,0.2);
  --color-neutral-light-400-opacity: rgba(189,189,189,0.2);
  --color-neutral-light-500-opacity: rgba(172,172,172,0.2);
  --color-neutral-light-600-opacity: rgba(155,155,155,0.2);
  --color-neutral-light-700-opacity: rgba(138,138,138,0.2);
  --color-neutral-light-800-opacity: rgba(120,120,120,0.2);
  --color-neutral-light-900-opacity: rgba(103,103,103,0.2);

  --color-error-100: #F95959;
  --color-error-200: #F94242;
  --color-error-300: #F82B2B;
  --color-error-400: #F71313;
  --color-error-500: #EA0808;
  --color-error-600: #D30707;
  --color-error-700: #BB0606;
  --color-error-800: #A40606;
  --color-error-900: #8C0505;
  --color-error-100-contrast: #101010;
  --color-error-200-contrast: #101010;
  --color-error-300-contrast: #101010;
  --color-error-400-contrast: #101010;
  --color-error-500-contrast: #f0f0f0;
  --color-error-600-contrast: #f0f0f0;
  --color-error-700-contrast: #f0f0f0;
  --color-error-800-contrast: #f0f0f0;
  --color-error-900-contrast: #f0f0f0;
  --color-error-100-opacity: rgba(249,89,89,0.2);
  --color-error-200-opacity: rgba(249,66,66,0.2);
  --color-error-300-opacity: rgba(248,43,43,0.2);
  --color-error-400-opacity: rgba(247,19,19,0.2);
  --color-error-500-opacity: rgba(234,8,8,0.2);
  --color-error-600-opacity: rgba(211,7,7,0.2);
  --color-error-700-opacity: rgba(187,6,6,0.2);
  --color-error-800-opacity: rgba(164,6,6,0.2);
  --color-error-900-opacity: rgba(140,5,5,0.2);

  --color-alert-100: #FFC83C;
  --color-alert-200: #FFC126;
  --color-alert-300: #FFBB0F;
  --color-alert-400: #F8B100;
  --color-alert-500: #E1A100;
  --color-alert-600: #CB9100;
  --color-alert-700: #B48100;
  --color-alert-800: #9D7100;
  --color-alert-900: #876100;
  --color-alert-100-contrast: #f0f0f0;
  --color-alert-200-contrast: #f0f0f0;
  --color-alert-300-contrast: #f0f0f0;
  --color-alert-400-contrast: #f0f0f0;
  --color-alert-500-contrast: #f0f0f0;
  --color-alert-600-contrast: #f0f0f0;
  --color-alert-700-contrast: #f0f0f0;
  --color-alert-800-contrast: #f0f0f0;
  --color-alert-900-contrast: #101010;
  --color-alert-100-opacity: rgba(255,200,60,0.2);
  --color-alert-200-opacity: rgba(255,193,38,0.2);
  --color-alert-300-opacity: rgba(255,187,15,0.2);
  --color-alert-400-opacity: rgba(248,177,0,0.2);
  --color-alert-500-opacity: rgba(225,161,0,0.2);
  --color-alert-600-opacity: rgba(203,145,0,0.2);
  --color-alert-700-opacity: rgba(180,129,0,0.2);
  --color-alert-800-opacity: rgba(157,113,0,0.2);
  --color-alert-900-opacity: rgba(135,97,0,0.2);

  --color-info-100: #D9EEFA;
  --color-info-200: #BCE0F6;
  --color-info-300: #9ED3F3;
  --color-info-400: #81C5EF;
  --color-info-500: #63B8EB;
  --color-info-600: #45ABE7;
  --color-info-700: #289DE3;
  --color-info-800: #1B8BCF;
  --color-info-900: #1778B2;
  --color-info-100-contrast: #101010;
  --color-info-200-contrast: #101010;
  --color-info-300-contrast: #101010;
  --color-info-400-contrast: #101010;
  --color-info-500-contrast: #f0f0f0;
  --color-info-600-contrast: #f0f0f0;
  --color-info-700-contrast: #f0f0f0;
  --color-info-800-contrast: #f0f0f0;
  --color-info-900-contrast: #f0f0f0;
  --color-info-100-opacity: rgba(217, 238, 250, 0.2);
  --color-info-200-opacity: rgba(188, 224, 246, 0.2);
  --color-info-300-opacity: rgba(158, 211, 243, 0.2);
  --color-info-400-opacity: rgba(129, 197, 239, 0.2);
  --color-info-500-opacity: rgba(99, 184, 235, 0.2);
  --color-info-600-opacity: rgba(69, 172, 231, 0.2);
  --color-info-700-opacity: rgba(40, 157, 227, 0.2);
  --color-info-800-opacity: rgba(27, 139, 207, 0.2);
  --color-info-900-opacity: rgba(23, 121, 178, 0.2);

  --color-success-100: #10F682;
  --color-success-200: #09EA79;
  --color-success-300: #08D870;
  --color-success-400: #08C666;
  --color-success-500: #07B45D;
  --color-success-600: #06A254;
  --color-success-700: #06904A;
  --color-success-800: #057E41;
  --color-success-900: #046C38;
  --color-success-100-contrast: #f0f0f0;
  --color-success-200-contrast: #f0f0f0;
  --color-success-300-contrast: #f0f0f0;
  --color-success-400-contrast: #f0f0f0;
  --color-success-500-contrast: #f0f0f0;
  --color-success-600-contrast: #f0f0f0;
  --color-success-700-contrast: #f0f0f0;
  --color-success-800-contrast: #101010;
  --color-success-900-contrast: #101010;
  --color-success-100-opacity: rgba(16,246,130,0.2);
  --color-success-200-opacity: rgba(9,234,121,0.2);
  --color-success-300-opacity: rgba(8,216,112,0.2);
  --color-success-400-opacity: rgba(8,198,102,0.2);
  --color-success-500-opacity: rgba(7,180,93,0.2);
  --color-success-600-opacity: rgba(6,162,84,0.2);
  --color-success-700-opacity: rgba(6,144,74,0.2);
  --color-success-800-opacity: rgba(5,126,65,0.2);
  --color-success-900-opacity: rgba(4,108,56,0.2);

  /* others */
  --color-white: #fff;
  --color-black: #000;

  /* spacings */
  --spacing-squish-xs: 4px 8px;
  --spacing-squish-md: 8px 12px;
  --spacing-squish-lg: 12px 16px;
  --spacing-squish-xl: 12px 24px;
  --spacing-squish-xxl: 24px 32px;

  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;
  --spacing-xxxl: 50px;
  --spacing-xxxxl: 80px;

  /* outside shadow */
  --shadow-1: 0 0 10px rgba(0, 0, 0, 0.08);
  --shadow-2: 0 2px 12px rgba(0, 0, 0, 0.10);
  --shadow-3: 0 4px 4px rgba(0, 0, 0, 0.15);
  --shadow-4: 0 8px 16px rgba(0, 0, 0, 0.15);
  --shadow-5: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-6: 4px 4px 10px rgba(0, 0, 0, 0.10);

  /* text shadow */
  --shadow-text-1: 0 0 4px rgba(0, 0, 0, 0.4);

  /* fonts */
  --font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  /* font size */
  --font-size-xxs: 1rem;
  --font-size-xs: 1.2rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 1.8rem;
  --font-size-xl: 2.7rem;
  --font-size-xxl: 3.8rem;

  /* font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* border radius */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;
  --border-radius-pill: 500px;
  --border-radius-circle: 50%;
}

